/* Reset default styles */
body, h1, p, footer {
  margin: 0;
  padding: 0;
}

/* Set font, background color, and ensure the body doesn't overflow horizontally */
body {
  font-family: Arial, sans-serif;
  background-color: transparent;
  overflow-x: hidden;
}

/* Video section */
#video-section {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.video-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.video-text h2 {
  font-size: 3rem;
  margin-bottom: 0.5em;
}

#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

/* Navbar styles */
.navbar {
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  width: 100%;
  z-index: 10;
  color: #fff; /* Ensures all text in the navbar is white */
}

.navbar-brand {
  font-size: 3rem;
  color: #fff;
  font-weight: bold;
}

.navbar a, .navbar-brand {
  color: #fff !important; /* Make text white */
  font-weight: bold !important; /* Make text bold */
  font-size: 2rem !important; /* Increase text size */
}

.navbar a:hover {
  color: #cccccc; /* Lighter shade for hover state */
  text-decoration: underline; /* Underline text to indicate interactivity */
}

.navbar-nav .nav-link {
  font-size: 0.9rem;
  color: #fff;
  font-weight: normal;
}

/* Footer styles */
footer {
  text-align: center;
  width: 100%;
  padding: 1rem;
  background-color: #333;
  color: #fff;
}